**/__pycache__/*.*
/.project
/.pydevproject
/.settings/


#Test imapfs with your imap server
tests/Test_my_imapfs.py

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
